@model PaginadoList<ExamenTecnico.Models.NotaModelo>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Crer nueva nota</a>
</p>





<div>
    <h6>Ordernar por: </h6>
    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Titulo</a>
    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Fecha</a>
</div>


<div style="box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15); padding:5%;margin-bottom:10%">



    <div class="row">
        @foreach (var item in Model)
        {
            <div class="test col-xl-2 col-2 m-3">

                <div class="zoom">
                    <a class="zoom_link" asp-action="Edit" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Titulo)</a>
                    <!--
                    asp-action="Details"
                    <a asp-action="Edit" asp-route-id="@item.Id" style="position:absolute">Edit</a> |
                    -->
                    <div class="div_fecha">
                        <h6 style="font-size: 12px"><span>@Html.DisplayFor(modelItem => item.Fecha)</span></h6>
                    </div>
                </div>
                <div class="boton_borrar">
                    <a asp-action="Delete" asp-route-id="@item.Id">x</a>
                </div>
            </div>
        }
    </div>

</div>




@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="row">
    <div class="col-xl-6" style="text-align:right">
        <div class="paginado">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @prevDisabled">
                Anterior
            </a>
        </div>

    </div>
    <div class="col-xl-6" style="text-align:left">
        <div class="paginado">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @nextDisabled">
                Siguiente
            </a>
        </div>
    </div>
</div>





